{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
Create new listing
{% endblock %}

{% block additional_css %}
<link href="{% static 'css/styles_create.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/styles_categorySelector.css' %}">
<style>
</style>
{% endblock %}

{% block body %}
<div class="d-flex flex-row min-vh-100 h-100 w-100 justify-content-between">
    <div class="side-animated-border border-right-light"></div>
    <div class="container-sm pt-5">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show custom-alert" role="alert">
                    {{ message }}
                    <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="" aria-label="title">
            <h2 style="font-weight: 600;">
                <span>
                    <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.26 16.52V14.8H5.5V13.08H3.72V11.38H1.96V9.66H0.2V6.96H1.96V5.24H3.72V3.52H5.5V1.82H7.26V0.0999994H9.82V2.84H8.04V4.54H6.28V6.26H4.5V7.96H2.74V8.64H4.5V10.36H6.28V12.06H8.04V13.78H9.82V16.52H7.26ZM9.39219 16.52V13.78H11.1522V12.06H12.9322V10.36H14.6922V8.64H16.4722V7.96H14.6922V6.26H12.9322V4.54H11.1522V2.84H9.39219V0.0999994H11.9322V1.82H13.6922V3.52H15.4722V5.24H17.2122V6.96H19.0122V9.66H17.2122V11.38H15.4722V13.08H13.6922V14.8H11.9322V16.52H9.39219Z" fill="currentColor"/>
                    </svg>
                </span>
                Create a new listing</h2>
            <p>Please fill out the forms below.</p>
        </div>

        <form class="mt-4" action="{% url 'create_listing' %}" method="post">
            {% csrf_token %}
            <!-- manually adding forms -->
            <div class="form-group form-group-kyore mb-3">
                {{ form.title.label_tag }}
                {{ form.title }}
                {% for error in form.title.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            </div>

            <div class="form-group form-group-kyore mb-3">
                {{ form.description.label_tag }}
                {{ form.description }}
                {% for error in form.description.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            </div>

            <div class="form-group form-group-kyore mb-3">
                {{ form.starting_bid.label_tag }}
                {{ form.starting_bid }}
                {% for error in form.starting_bid.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            </div>

            <div class="form-group form-group-kyore mb-3">
                {{ form.image_url.label_tag }}
                {{ form.image_url }}
                {% for error in form.image_url.errors %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            </div>

            <!-- automatically looping through forms (less control)
                {% for field in form %}
                <div class="form-group form-group-kyore mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            -->
            <!-- Category selector -->
            <p class="pt-1 pb-0 mb-2">Category:</p>
            <div class="category-selector-container mb-3 {% if form.category.errors %}category-invalid{% endif %}" style="max-width: 100%; margin-top: 0px; padding-top: 0px;">
                <div id="dropdownHeader" class="dropdown-header closed">
                    <span id="selectedCategoryText" class="text-secondary user-select-none">Select a category...</span>
                    <svg id="dropdownArrow" class="arrow-icon text-muted transition-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                    </svg>
                </div>
                <div id="dropdownContent" class="dropdown-content">
                    <!-- Dynamic columns will be loaded here by JS -->
                    <div class="category-column">
                        <div class="category-list">
                            {% for category in root_categories %}
                            <div class="category-item rounded" data-category-name="{{category.name}}" data-category-id="{{category.id}}" data-category-has-children="{{category.has_children}}">
                                <span class="user-select-none">{{category.name}}</span>
                                {% if category.has_children %}
                                <svg class="arrow-icon" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                                </svg>
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- this form is hidden with id selectedCategoryForm, controlled via modelForm Meta widgets-->
            
            {{ form.category }}
            {% for error in form.category.errors %}
            <div class="invalid-feedback">
                {{ error }}
            </div>
            {% endfor %}

            <div class="d-flex flex-row gap-3 my-5">
                <input class="btn btn-primary w-50" type="submit" value="Create Listing">
                <a href="{% url 'index' %}" class="btn btn-danger w-50">Cancel</a>
            </div>
        </form>
    </div>
    <div class="side-animated-border border-left-light"></div>
</div>

<!-- Category selector script -->
<script src="{% static 'js/categorySelector.js' %}"></script>
{% endblock %}