{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
Create new listing
{% endblock %}

{% block additional_css %}<link href="{% static 'css/styles_create.css' %}" rel="stylesheet">{% endblock %}

{% block body %}
    <div class="container mt-4">
        {% if message %}
            <div class="bg-danger text-white p-2 fs-6 rounded">{{ message }}</div>
        {% endif %}

        <div class="mt-5" aria-label="title">
            <h2 style="font-weight: 600;">Create a new listing</h2>
            <p>Please fill out the forms below.</p>
        </div>

        <form class="mt-4" action="{% url 'create_listing' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group form-group-kyore mb-4">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
            <input class="btn btn-primary mt-4" type="submit" value="Create Listing">
        </form>
    </div>
{% endblock %}